<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'digestif/create.css' %}">
  <title>Digestif</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'digestif:index' %}">digestif</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digestif:explore' %}">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digestif:create' %}" style="color:orange;">Create</a>
        </li>
      </ul>
      <div class="navbar-text">
         <!-- <p><span>&#9829; <span id="likeCount">0</span></span></p> -->
         <button type="button" class="btn btn-primary" style="background-color: rgb(204, 68, 74); border-style: none">
            You've &#9829;'d <span id="likeCount" class="badge badge-light">0</span> blocks!
          </button>
      </div>
    </div>
  </nav>
  <div style="height:25px;"></div>
  <div class="container">
      <div class="row" style="height: 90%">
        <div class="col">
          <h3 style="color: orange; width: 300;">&#9829;'d Blocks</h3>
          <p class="text-muted">Use these blocks to create your page</p>
        </div>
        <div class="col">
          <h3 style="color: orange;">Your Page!</h3>
          <p class="text-muted">Drop and edit your blocks here</p>
        </div>
        <div class="col" style="padding-right: 15px; padding-left: 15px;">
          <button type="button" class="btn btn-outline-warning btn-lg" onclick="download_page()">Download</button>
          <p class="text-muted">Get an HTML of your page</p>
        </div>
        <!-- <div id="target" class="col" style="width=70px;text-align: center;">
          <a tabindex="0" id="pop" class="btn" role="button" onclick="change_target()" data-toggle="popover" data-placement="left" data-trigger="hover" title="Could I understand your page?" data-content=""><img id ="target-img" src="../../static/digestif/create/personLight.png" style="height:60px;width=60px;cursor:pointer;"/></a>
          <p class="text-muted" style="display: block;">I'm your curious participant!<br>Can I understand you?</p>
        </div> -->
        <div class="w-100"></div>
        <div class="col-" style="overflow-y: scroll; height: 90%;">

          <div id="accordion" role="tablist" style="width: 300px;">
            <div class="card">
              <div class="card-header" role="tab" id="full_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#full" aria-expanded="true" aria-controls="full">
                    Full Blocks
                  </a>
                </h5>
              </div>

              <div id="full" class="collapse show" role="tabpanel" aria-labelledby="full_heading" data-parent="#accordion"><div class="card-body element_getter">
                <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>

              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="acknowledgments_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#acknowledgments" aria-expanded="false" aria-controls="acknowledgments">
                    Acknowledgments Blocks
                  </a>
                </h5>
              </div>

              <div id="acknowledgments" class="collapse" role="tabpanel" aria-labelledby="acknowledgments_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="experimental_design_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#experimental_design" aria-expanded="false" aria-controls="experimental_design">
                    Experimental Design Blocks
                  </a>
                </h5>
              </div>

              <div id="experimental_design" class="collapse" role="tabpanel" aria-labelledby="experimental_design_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="feedback_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#feedback" aria-expanded="false" aria-controls="feedback">
                    Feedback Blocks
                  </a>
                </h5>
              </div>

              <div id="feedback" class="collapse" role="tabpanel" aria-labelledby="feedback_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="other_studies_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#other_studies" aria-expanded="false" aria-controls="other_studies">
                    Other Studies Blocks
                  </a>
                </h5>
              </div>

              <div id="other_studies" class="collapse" role="tabpanel" aria-labelledby="other_studies_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="personalized_results_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#personalized_results" aria-expanded="false" aria-controls="personalized_results">
                    Personalized Results Blocks
                  </a>
                </h5>
              </div>

              <div id="personalized_results" class="collapse" role="tabpanel" aria-labelledby="personalized_results_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="previous_research_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#previous_research" aria-expanded="false" aria-controls="previous_research">
                    Previous Research Blocks
                  </a>
                </h5>
              </div>

              <div id="previous_research" class="collapse" role="tabpanel" aria-labelledby="previous_research_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="research_goals_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#research_goals" aria-expanded="false" aria-controls="research_goals">
                    Research Goals Blocks
                  </a>
                </h5>
              </div>

              <div id="research_goals" class="collapse" role="tabpanel" aria-labelledby="research_goals_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="research_motivations_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#research_motivations" aria-expanded="false" aria-controls="research_motivations">
                    Research Motivations Blocks
                  </a>
                </h5>
              </div>

              <div id="research_motivations" class="collapse" role="tabpanel" aria-labelledby="research_motivations_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="share_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#share" aria-expanded="false" aria-controls="share">
                    Share Blocks
                  </a>
                </h5>
              </div>

              <div id="share" class="collapse" role="tabpanel" aria-labelledby="share_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="community_building_heading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#community_building" aria-expanded="false" aria-controls="community_building">
                    Community Building Blocks
                  </a>
                </h5>
              </div>

              <div id="community_building" class="collapse" role="tabpanel" aria-labelledby="community_building_heading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div id="default" class="page_element card"><div class="card-body"><h4 class="card-title">Default Block</h4></div></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col" style="overflow-y: scroll; height: 90%; margin-left: 20">
          <div id="target" class="row">
            <div style="margin-left:auto; margin-right:0;">
              <p class="text-muted" style="display: inline-block; text-align:right; margin-left:auto; margin-right:0;">I'm your curious participant!<br>Can I understand you?</p>
              <a tabindex="0" id="pop" class="btn" role="button" onclick="change_target()" data-toggle="popover" data-placement="left" data-trigger="hover" title="Could I understand your page?" data-content=""><img id ="target-img" src="../../static/digestif/create/personLight.png" style="height:60px;width=60px;cursor:pointer;"/></a>
            </div>
          </div>
          <div class="row">
            <div id="resultsPage" class="alert" style="background-color: rgb(254, 249, 236); min-height: 400px; width: 100%;"></div>
          </div>
        </div>

        <!-- On load, populate side blocks from local storage;
        If local storage is NULL, move on...

        load Default blocks -->
      </div>


  </div>
  <div class="modal fade" id="preQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow:scroll" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header" style="background-color:rgb(44,126,246);"> -->
          <!-- <h5 class="modal-title" style="color:white;">Select a target audience...</h5> -->
          <!-- <h5 class="modal-title" style="color:white;">Participants want to learn about your research!</h5> -->
        <!-- </div> -->
        <div class="modal-body">
          <!-- h4>How much knowledge does your target audience have about your field?</h4> -->
          <h2><strong>Participants want to learn about your research!</strong><br></h2>
          <h6>Tell them in a way that they can understand.</h6>
          <!-- <p><i>In the future, Digestif will suggest text and information for you based on your participants.</i><p> -->
          <!-- <p>By telling us about how much you think your participants know about your research area, you contribute data to improving Digestif.</p> -->
          <br/>
          <h5>How much knowledge do your participants have about your field?</h5>

          <div style="height:10px;"></div>

          <div class="container">
            <div class="row">
              <div class="col">
                <div class="radio">
                  <label>
                    <input type="radio" id="Light" name="smileOp" value="Light" onclick="set_target('Light', 'NO')">
                    <img src="../../static/digestif/create/personLight.png" style="height:50px;width=50px;">
                    None
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="radio">
                  <label>
                    <input type="radio" id="Med" name="smileOp" value="Med" onclick="set_target('Med', 'ONLY SOME')">
                    <img src="../../static/digestif/create/personMed.png" style="height:50px;width=50px;">
                    Some
                  </label>
                </div>
              </div>
              <div class="col">
                <div class="radio">
                  <label>
                    <input type="radio" id="Dark" name="smileOp" value="Dark" onclick="set_target('Dark', 'LOTS OF')">
                    <img src="../../static/digestif/create/personDark.png" style="height:50px;width=50px;">
                    Lots
                  </label>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <h5>Optional: is there anything else you know about your participants?</h5>
              <textarea rows="2" cols="200" id="optional_participant"></textarea>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="dismiss_modal" class="btn btn-primary btn-lg btn-block" disabled onclick="start()">Dismiss</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
<script src="{% static 'digestif/create.js' %}"></script>
</html>
