<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
  <style>
  .page_element_placed { width: 100px;}
  .page_element {margin-bottom: 10px;}
  </style>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'digestif/create.css' %}">
  <script src="{% static 'digestif/create.js' %}"></script>

  <script>
  var editors = [];

	$( function() {
		$("#resultsPage").sortable({
			revert: "invalid",
      start: function( event, ui ) {
        $(ui.item).css("width", "400px");
      },
      beforeStop: function( event, ui ) {
        $(".page_element_placed").css({"width": "100%", "margin-left": "0", "margin-right": "0", "margin-bottom": "10px"});
      },
      containment: "parent"
		});
		$( ".element_getter .page_element" ).draggable({
			connectToSortable: "#resultsPage",
      helper: function() {
        return $( "<div class='card page_element_placed' style='width: 400; height: auto;'><div class='card-header ui-draggable-handle'>Block Type"+
                  "<button type='button' class='close' aria-label='Close' onclick='removeEl(this)'><span aria-hidden='true'>&times;</span></button></div>"+
                  "<div id='no" + editors.length + "' style='height: 100px; border: none;'>hi</div>" +
                  "</div>" );
      },
      start: function() {
        var id = '#no' + editors.length;
        var quill = new Quill(id, {
         theme: 'snow'
        });
        editors.push(quill);
      },
			revert: "invalid",
      appendTo: "body",
		});
    $("#resultsPage .page_element").draggable({});
	} );

  </script>

  <title>Digestif</title>
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'digestif:index' %}">digestif</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digestif:explore' %}">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digestif:create' %}" style="color:orange;">Create</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="height:25px;"></div>
  <div class="container">
      <div class="row" style="height: 90%">
        <div class="col-">
          <h3 style="width: 300px;">Blocks</h3>
          <p class="text-muted">Use these blocks to create your page</p>
        </div>
        <div class="col">
          <h3>Your Page!</h3>
          <p class="text-muted">Drop and edit your blocks here</p>
        </div>
        <div class="w-100"></div>
        <div class="col-" style="overflow-y: scroll; height: 90%;">

          <div id="accordion" role="tablist" style="width: 300px;">
            <div class="card">
              <div class="card-header" role="tab" id="acknowledgementsHeading">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#acknowledgements" aria-expanded="true" aria-controls="acknowledgements">
                    Acknowledgements
                  </a>
                </h5>
              </div>

              <div id="acknowledgements" class="collapse show" role="tabpanel" aria-labelledby="acknowledgementsHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="researchPurposeHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#researchPurpose" aria-expanded="false" aria-controls="researchPurpose">
                    Research Purpose
                  </a>
                </h5>
              </div>
              <div id="researchPurpose" class="collapse" role="tabpanel" aria-labelledby="researchPurposeHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="studySummaryHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#studySummary" aria-expanded="false" aria-controls="studySummary">
                    Study Summary
                  </a>
                </h5>
              </div>
              <div id="studySummary" class="collapse" role="tabpanel" aria-labelledby="studySummaryHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="scoreInterpretationHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#scoreInterpretation" aria-expanded="false" aria-controls="scoreInterpretation">
                    Score Interpretation
                  </a>
                </h5>
              </div>
              <div id="scoreInterpretation" class="collapse" role="tabpanel" aria-labelledby="scoreInterpretationHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="personalizedResultsHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#personalizedResults" aria-expanded="false" aria-controls="personalizedResults">
                    Personalized Results
                  </a>
                </h5>
              </div>
              <div id="personalizedResults" class="collapse" role="tabpanel" aria-labelledby="personalizedResultsHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="socialComparisonHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#socialComparison" aria-expanded="false" aria-controls="socialComparison">
                    Social Comparison
                  </a>
                </h5>
              </div>
              <div id="socialComparison" class="collapse" role="tabpanel" aria-labelledby="socialComparisonHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="shareHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#share" aria-expanded="false" aria-controls="share">
                    Share
                  </a>
                </h5>
              </div>
              <div id="share" class="collapse" role="tabpanel" aria-labelledby="shareHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="feedbackHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#feedback" aria-expanded="false" aria-controls="feedback">
                    Feedback
                  </a>
                </h5>
              </div>
              <div id="feedback" class="collapse" role="tabpanel" aria-labelledby="feedbackHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="otherStudiesHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#otherStudies" aria-expanded="false" aria-controls="otherStudies">
                    Other Studies
                  </a>
                </h5>
              </div>
              <div id="otherStudies" class="collapse" role="tabpanel" aria-labelledby="otherStudiesHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="additionalResourcesHeading">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" href="#additionalResources" aria-expanded="false" aria-controls="additionalResources">
                    Additional Resources
                  </a>
                </h5>
              </div>
              <div id="additionalResources" class="collapse" role="tabpanel" aria-labelledby="additionalResourcesHeading" data-parent="#accordion">
                <div class="card-body element_getter">
                  <div class="page_element card"><div class="card-body"><h4 class="card-title">Block</h4></div></div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col" style="overflow-y: scroll; height: 90%;">
          <div id="resultsPage" class="alert alert-success" style="min-height: 400px; width: 100%;"></div>
        </div>

        <!-- On load, populate side blocks from local storage;
        If local storage is NULL, move on...

        load empty blocks -->
      </div>


  </div>

</body>
</html>
