<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'digestif/style.css' %}">
    <title>Digestif</title>
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'digestif:index' %}">digestif</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <!-- <a class="nav-link" href="./explore.html">Explore</a> -->
              <a class="nav-link" href="{% url 'digestif:explore' %}" style="color:orange;">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'digestif:create' %}">Create</a>
            <!-- <div id="likeCount">0</div> -->
            <!-- <div id="heart"></div> -->
              <!-- <a class="nav-link" href="./create.html">Create</a> -->
          </li>
      </ul>
      <div class="navbar-text">
         <!-- <p><span>&#9829; <span id="likeCount">0</span></span></p> -->
         <button type="button" class="btn btn-primary" style="background-color: rgb(204, 68, 74); border-style: none">
            You've &#9829;'d <span id="likeCount" class="badge badge-light">0</span> blocks!
          </button>
      </div>
    </div>
  </nav>

  <div style="height:25px;"></div>

  <div class="container">
    <!-- <h6> If you <span style="color:rgb(204, 68, 74);">&#9829;</span> a page or a block in <i>Explore</i>, its <strong style="color:rgb(204, 68, 74);">content</strong> will be available for you to use when you <i>Create</i> a page.</h6> -->
    <h6><span style="color:rgb(204, 68, 74);">&#9829;</span> blocks and pages as you <i>Explore</i>, use their <strong style="color:rgb(204, 68, 74);">content</strong> when you <i>Create</i>.</h6>
      <!-- Default: show Overview of Pages, show that the button is pressed down -->
      <!-- When click back and forth between two, show different divs with content -->

      <nav class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 20px;">
        <a class="nav-item nav-link active" id="nav-block-tab" data-toggle="tab" href="#nav-block" role="tab" aria-controls="nav-block" aria-selected="true">View by Block</a>
        <a class="nav-item nav-link" id="nav-platform-tab" data-toggle="tab" href="#nav-platform" role="tab" aria-controls="nav-platform" aria-selected="false">View by Platform</a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        {% load static %}

        <div class="tab-pane fade show active" id="nav-block" role="tabpanel" aria-labelledby="nav-block-tab">

          <div id="accordion" role="tablist">

            <div class="card">
              <div class="card-header" role="tab" id="acknowledgments_heading">
                <a data-toggle="collapse" href="#acknowledgments" aria-expanded="false" aria-controls="acknowledgments">
                  <h3>Acknowledgments Blocks</h3>
                  <p class="text-muted">Acknowledgment blocks thank the participant for their time and data contribution.</p>
                </a>
              </div>

              <div id="acknowledgments" class="collapse" role="tabpanel" aria-labelledby="acknowledgments_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="acknowledgments_div" style="column-count: 2;">
                    {% for b in acknowledgments %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', '{{b.block_type}}', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Acknowledgments block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Acknowledgments', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                  <!-- <input type="checkbox" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="toggle-heart" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike"/> -->
                                  <!-- <label for="#{{b.cp.cp_id}}{{b.block_type}}btn">❤</label> -->
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="experimental_design_heading" data-toggle="tooltip" title="In previous research, participants have liked and learned from this information.">
                <a data-toggle="collapse" href="#experimental_design" aria-expanded="false" aria-controls="experimental_design">
                  <h3>Experimental Design Blocks <span class="badge badge-light" style="background-color: #ADD8E6">Recommended</span></h3>
                  <p class="text-muted">Experimental design blocks tell participants why the online experiment was designed the way it was. These blocks can also explain how any personalized results were generated and the limitations of the study.</p>
                </a>
              </div>

              <div id="experimental_design" class="collapse" role="tabpanel" aria-labelledby="experimental_design_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="experimental_design_div" style="column-count: 2;">
                    {% for b in experimental_design%}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', '{{b.block_type}}', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Experimental design block of conclusion page from study {{b.cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Experimental Design', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="feedback_heading">
                <a data-toggle="collapse" href="#feedback" aria-expanded="false" aria-controls="feedback">
                  <h3>Feedback Blocks</h3>
                  <p class="text-muted">Feedback blocks allow participants to provide suggestions, ideas, and concerns about the tasks. Based on the feedback, researchers can refine their studies iteratively.</p>
                </a>
              </div>

              <div id="feedback" class="collapse" role="tabpanel" aria-labelledby="feedback_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="feedback_div" style="column-count: 2;">
                    {% for b in feedback %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Feedback', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Feedback block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Feedback', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="other_studies_heading">
                <a data-toggle="collapse" href="#other_studies" aria-expanded="false" aria-controls="other_studies">
                  <h3>Other Studies Blocks</h3>
                  <p class="text-muted">Other studies blocks contain links to other studies on a platform, leveraging current traffic to attract more participation to other studies.</p>
                </a>
              </div>

              <div id="other_studies" class="collapse" role="tabpanel" aria-labelledby="other_studies_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="other_studies_div" style="column-count: 2;">
                    {% for b in other_studies %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Other Studies', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Other studies block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Other Studies', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="personalized_results_heading">
                <a data-toggle="collapse" href="#personalized_results" aria-expanded="false" aria-controls="personalized_results">
                  <h3>Personalized Results Blocks</h3>
                  <p class="text-muted">Personalized results blocks provide give participants some insight into their performance/data. A common form of personalized results is to compare a participant's performance with the performance of other participants or groups already found in previous research (social comparison). The promise of personalized results is often used to advertise studies.</p>
                </a>
              </div>

              <div id="personalized_results" class="collapse" role="tabpanel" aria-labelledby="personalized_results_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="personalized_results_div" style="column-count: 2;">
                    {% for b in personalized_results %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', '{{b.block_type}}', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Personalized results block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Personalized Results', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="previous_research_heading" data-toggle="tooltip" title="In previous research, participants have liked and learned from this information.">
                <a data-toggle="collapse" href="#previous_research" aria-expanded="false" aria-controls="previous_research">
                  <h3>Previous Research Blocks <span class="badge badge-light" style="background-color: #ADD8E6">Recommended</span></h3>
                  <p class="text-muted">Previous research blocks allow researchers to share about their fields and previous research findings.</p>
                </a>
              </div>

              <div id="previous_research" class="collapse" role="tabpanel" aria-labelledby="previous_research_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="previous_research_div" style="column-count: 2;">
                    {% for b in previous_research %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Previous Research', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Previous research block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Previous Research', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="research_goals_heading" data-toggle="tooltip" title="In previous research, participants have liked and learned from this information.">
                <a data-toggle="collapse" href="#research_goals" aria-expanded="false" aria-controls="research_goals">
                  <h3>Research Goals Blocks <span class="badge badge-light" style="background-color: #ADD8E6">Recommended</span></h3>
                  <p class="text-muted">Research goals blocks explain how the results of the study will contribute to advancing various disciplines or improving applications (e.g., possible products, etc.).</p>
                </a>
              </div>

              <div id="research_goals" class="collapse" role="tabpanel" aria-labelledby="research_goals_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="research_goals_div" style="column-count: 2;">
                    {% for b in research_goals %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Research Goals', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Research goals block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Research Goals', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" lass="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="research_motivations_heading" data-toggle="tooltip" title="In previous research, participants have liked and learned from this information.">
                <a data-toggle="collapse" href="#research_motivations" aria-expanded="false" aria-controls="research_motivations">
                  <h3>Research Motivations Blocks <span class="badge badge-light" style="background-color: #ADD8E6">Recommended</span></h3>
                  <p class="text-muted">Research motivations blocks tell participants why data is being collected and/or the hypotheses that the study addresses.</p>
                </a>
              </div>

              <div id="research_motivations" class="collapse" role="tabpanel" aria-labelledby="research_motivations_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="research_motivations_div" style="column-count: 2;">
                    {% for b in research_motivations %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Research Motivations', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Research motivations block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Research Motivations', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="share_heading">
                <a data-toggle="collapse" href="#share" aria-expanded="false" aria-controls="share">
                  <h3>Share Blocks</h3>
                  <p class="text-muted">Share blocks allow participants to share their participation on social media, which can generate traffic for the study.</p>
                </a>
              </div>

              <div id="share" class="collapse" role="tabpanel" aria-labelledby="share_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="share_div" style="column-count: 2;">
                    {% for b in share %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Share', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Share block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Share', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab" id="community_building_heading">
                <a data-toggle="collapse" href="#community_building" aria-expanded="false" aria-controls="community_building">
                  <h3>Community Building Blocks</h3>
                  <p class="text-muted">Community building blocks enable participants to connect with researchers and researchers to build longer-term relationships with participants. Example block functionalities include joining a mailing list or liking a study platform on social media.</p>
                </a>
              </div>

              <div id="community_building" class="collapse" role="tabpanel" aria-labelledby="community_building_heading" data-parent="#accordion">
                <div class="card-body">
                  <div id="community_building_div" style="column-count: 2;">
                    {% for b in community_building %}
                        {% if b.path_name != None %}
                          {% with "digestif/"|add:b.path_name as path_name %}
                          <div class="blockContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top modalLink"  onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Community Building', '{% static path_name %}')">
                              <img src="{% static path_name %}" alt="Additional resources block of conclusion page from study {{b.cp.study}} on platform {{b.cp.platform}}." style="width: 100%" />
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{b.cp.platform}}', '{{b.cp.study}}', 'Community Building', '{% static path_name %}')">{{b.cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{b.cp.cp_id}}{{b.block_type}}btn" class="btn btn-outline-danger" onclick="store('{{b.block_type}}', '{{b.cp.cp_id}}', '{{b.cp.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="tab-pane fade" id="nav-platform" role="tabpanel" aria-labelledby="nav-platform-tab">

        <!-- Div for Pages sorted by Platform: show all -->
        {% load static %}
        <div id="accordion2" role="tablist">

          {% for p in platforms %}
            {% with p.platform|add:"Div"|cut:" " as div_name %}
              <div class="card">
                <div class="card-header" role="tab" id="{{div_name}}_heading">
                  <a data-toggle="collapse" href="#{{div_name}}" aria-expanded="false" aria-controls="{{div_name}}">
                    <h3>{{p.platform}}</h3>
                    <p class="text-muted"></p>
                  </a>
                </div>

                <div id="{{div_name}}" class="collapse" role="tabpanel" aria-labelledby="{{div_name}}_heading" data-parent="#accordion2">
                  <div class="card-body">
                    <div id="{{div_name}}_div" style="column-count: 2;">
                      {% for cp in conclusion_pages %}
                        {% if cp.platform == p.platform and cp.full_page != None %}
                          {% with "digestif/"|add:cp.full_page as path_name %}
                            <div class="platformContainer card" style="width: 100%; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                              <div class="card-img-top modalLink" onclick="show_detail('{{cp.platform}}', '{{cp.study}}', 'Full Page', '{% static path_name %}')" style="height: 200px; overflow: hidden; background-color: gray;">
                                <img src="{% static path_name %}" alt="Full conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%;">
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col">
                                    <h4 class="card-title modalLink" style="cursor:pointer" onclick="show_detail('{{cp.platform}}', '{{cp.study}}', 'Full Page', '{% static path_name %}')">{{cp.study}}</h4>
                                  </div>
                                  <div class="col-sm-auto">
                                    <button type="button" id="#{{cp.cp_id}}fullbtn" class="btn btn-outline-danger" onclick="store('full', '{{cp.cp_id}}', '{{cp.study}}', '{% static path_name %}', '{{cp.content}}', this )" value="unlike">&#9829;</button>
                                  </div>
                                </div>
                              </div>
                              <!-- <button id="redButton" class="w3-button w3-xlarge w3-circle w3-red" style="visibility: hidden" onclick="store('full', '{{path_name}}', 'unlike')">+</button> -->
                            </div>
                            {% endwith %}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>

      </div>

      </div>
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel">Personality Survey</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="detailModalBody">
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="firstLoadModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">

            <div style="height:10px;"></div>
            <h2><span style="color:rgb(204, 68, 74);">&#9829;</span> the blocks that inspire you!</h2>
            <!-- <h5> If you <span style="color:rgb(204, 68, 74);">&#9829;</span> a page or a block, its <strong style="color:rgb(204, 68, 74);">content</strong> will be available for you to use on the create page.</h5> -->
            <h6><span style="color:rgb(204, 68, 74);">&#9829;</span> blocks and pages as you <i>Explore</i>, use their <strong style="color:rgb(204, 68, 74);">content</strong> when you <i>Create</i>.</h6>
            <div style="height:10px;"></div>
            <button type="button" class="btn btn-lg btn-outline-warning" data-dismiss="modal" aria-label="Close">Got it!</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'digestif/explore.js' %}"></script>
</html>
