<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'digestif/style.css' %}">
    <title>Digestif</title>
</head>
<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'digestif:index' %}">digestif</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <!-- <a class="nav-link" href="./explore.html">Explore</a> -->
              <a class="nav-link" href="{% url 'digestif:explore' %}" style="color:orange;">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'digestif:create' %}">Create</a>
              <!-- <a class="nav-link" href="./create.html">Create</a> -->
          </li>
      </ul>
    </div>
  </nav>

  <div style="height:25px;"></div>

  <div class="container">
    <h5> If you <span style="color:rgb(204, 68, 74);">&#9829;</span> a page or a block, its content will be available for you to use on the create page.</h5>

      <!-- Default: show Overview of Pages, show that the button is pressed down -->
      <!-- When click back and forth between two, show different divs with content -->

      <nav class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 20px;">
        <a class="nav-item nav-link active" id="nav-platform-tab" data-toggle="tab" href="#nav-platform" role="tab" aria-controls="nav-platform" aria-selected="true">View by Platform</a>
        <a class="nav-item nav-link" id="nav-block-tab" data-toggle="tab" href="#nav-block" role="tab" aria-controls="nav-block" aria-selected="false">View by Block</a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-platform" role="tabpanel" aria-labelledby="nav-platform-tab">

        <!-- Div for Pages sorted by Platform: show all -->
        {% load static %}
        <div id="platformsDiv">
            {% for p in platforms %}
              {% with p.platform|add:"Div"|cut:" " as div_name %}
                <div id={{div_name}} style="width: 100%;">
                  <h1 style="margin-top: 20px; margin-bottom: 15px;">{{p.platform}}</h1>
                    {% for cp in conclusion_pages %}
                      {% if cp.platform == p.platform and cp.full_page != None %}
                        {% with "digestif/"|add:cp.full_page as path_name %}
                          <!-- <div id={{path_name}}> -->
                          <!-- May want to do cp.path_names.full only?? Which would be better//easier-->
                          <!-- <span id={{path_name}} width="100px" height="200px"> -->
                          <div class="platformContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                            <div class="card-img-top" style="height: 200px; overflow: hidden; background-color: gray;">
                              <img src="{% static path_name %}" alt="Full conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%;">
                            </div>
                            <div class="card-body">
                              <div class="row">
                                <div class="col">
                                  <h4 class="card-title modalLink" onclick="show_detail('{{cp.platform}}', '{{cp.study}}', 'Full Page', '{% static path_name %}')">{{cp.study}}</h4>
                                </div>
                                <div class="col-sm-auto">
                                  <button type="button" id="#{{cp.cp_id}}btn" class="btn btn-outline-danger" onclick="store('full', '{{cp.cp_id}}', '{{cp.study}}', '{% static path_name %}', '{{cp.content}}', this )" value="unlike">&#9829;</button>
                                </div>
                              </div>
                            </div>
                            <!-- <button id="redButton" class="w3-button w3-xlarge w3-circle w3-red" style="visibility: hidden" onclick="store('full', '{{path_name}}', 'unlike')">+</button> -->
                          </div>
                        {% endwith %}
                      {% endif %}
                    {% endfor %}
                </div>
              {% endwith %}
            {% endfor %}
        </div>

        </div>

        <div class="tab-pane fade" id="nav-block" role="tabpanel" aria-labelledby="nav-block-tab">

          <!-- Div for Specific Blocks of Content: shows specific blocks -->
          {% load static %}
          <div id="blocksDiv">
            <!-- Create separate divs inside here to show the blocks, e.g., acknowledgementBlock, etc.? -->
            <div id="acknowledgementsDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Acknowledgements</h1>
              {% for b in acknowledgements %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Acknowledgements block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h4 class="card-title modalLink" onclick="show_detail('{{cp.platform}}', '{{cp.study}}', '{{b.block_type}}', '{% static path_name %}')">{{cp.study}}</h4>
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('acknowledgements', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="researchPurposeDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Research Purpose</h1>
              {% for b in research_purpose %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Research purpose block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                              <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('researchPurpose', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="studySummaryDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Study Summary</h1>
              {% for b in study_summary %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Study summary block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('studySummary', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="scoreInterpretationDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Score Interpretation</h1>
              {% for b in score_interpretation %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Score interpretation block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('scoreInterpretation', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="personalizedResultsDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Personalized Results</h1>
              {% for b in personalized_results %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Personalized results block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('personalizedResults', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="socialComparisonDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Social Comparison</h1>
              {% for b in social_comparison %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Social comparison block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('socialComparison', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="shareDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Share</h1>
              {% for b in share %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Share block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('share', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="feedbackDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Feedback</h1>
              {% for b in feedback %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Feedback block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('feedback', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="otherStudiesDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Other Studies</h1>
              {% for b in other_studies %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Other studies block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('otherStudies', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
            <div id="additionalResourcesDiv">
              <h1 style="margin-top: 20px; margin-bottom: 15px;">Additional Resources</h1>
              {% for b in additional_resources %}
                  {% if b.path_name != None %}
                    {% with "digestif/"|add:b.path_name as path_name %}
                    <div class="blockContainer card" style="width: 500px; display: inline-block; margin-bottom: 20px; margin-right: 10px; float: top;">
                      <div class="card-img-top" style="height: 100px; overflow: hidden; background-color: gray;">
                        <img src="{% static path_name %}" alt="Additional resources block of conclusion page from study {{cp.study}} on platform {{cp.platform}}." style="width: 100%" />
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <!-- <h4 class="card-title">{{cp.study}}</h4> -->
                          </div>
                          <div class="col-sm-auto">
                            <button type="button" class="btn btn-outline-danger" onclick="store('additionalResources', '{{b.cp_id}}', '{{b.study}}', '{% static path_name %}', '{{b.content}}', this )" value="unlike">&#9829;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endwith %}
                  {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        </div>
      </div>
      <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel">Personality Survey</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="detailModalBody">
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script></body>
    <script src="{% static 'digestif/explore.js' %}"></script>
</html>
